body, html {height: 100%; margin: 0;}

body{background-image: url('../images/pasta.jpg'); background-repeat: no-repeat; background-size: cover;
    background-attachment: fixed; background-position: center center;}

body::before{content: ''; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.246); z-index: -1;}

h1{text-align: center; color: rgb(114, 84, 13); margin:10px; background-color: rgba(255, 255, 255, 0.5); padding: 70px; font-size: 25px; margin-right: 140px; margin-left: 140px;}

h2{margin:10px; text-align: center}

h3{margin:10px; text-align: right}

p{margin:50px; text-align: left}

.topnav{overflow: hidden; background-color: ); padding-bottom:8px; padding-top:8px; width: 100%; box-shadow: 0px 0px 0px; position: sticky; justify-content: space-between;} 

.topnav a{float:right; display:block; color: rgb(84, 61, 6); font-size: 20px; padding: 30px; border-radius:100%; margin-right: 10px;}

.topnav a.active {background-color: rgb(162, 123, 32); color: rgb(239, 235, 228); box-shadow: 0px 2px 5px rgb(68, 49, 6)}

.topnav a:hover {background-color: rgb(246, 201, 36); color: rgb(68, 49, 6); box-shadow: 0px 2px 5px rgb(68, 49, 6)}

.topnav .LIR {color: rgb(68, 49, 6); font-size: 3rem; text-align: left; margin-left: 60px; scroll-padding-top: 0px; padding-top: 10px; white-space: nowrap;}

.hamburger {font-size: 3rem; color: rgb(0, 0, 0); cursor: pointer; background-color: rgb(246, 201, 36); box-shadow: 0px 2px 5px rgb(68, 49, 6); 
    padding-bottom:8px; padding-top:8px;}

.mobile-menu {display: none; position: absolute; top: 60px; right: 0; background-color: rgb(68, 49, 6); width: 100%;}
    
.mobile-menu a {display: block; padding: 10px; color: white; text-decoration: none; }

.hamburger:hover + .mobile-menu {display: block; background-color: rgb(162, 123, 32);}

.mobile-menu a:hover {background-color: rgb(162, 123, 32); color: rgb(68, 49, 6);}

.hamburger:hover {background-color: ;}

footer{background-color: rgba(255, 255, 255, 0.5); text-align: center; padding: 5px 0; position:fixed; width: 100%; left: 0; bottom: 0;}

footer a{padding-left: 30px; padding-right: 30px;}

footer .button {text-align: left;}

.container {display: flex; justify-content: space-between;}
  
div.three {border: 2px solid rgb(68, 49, 6); margin: 5px; width: 350px; border-radius: 50px; overflow: hidden;}
  
div.three:hover {border: 2px solid rgb(246, 201, 36);}
  
div.three img {width: 100%; height: auto;}
  
div.desc {text-align: center; padding: 15px; background-color: #f4f4f4;}



/* Media Query for Small Screens */
@media (max-width: 1050px) 
{.topnav {display: ;}  
.topnav .LIR {font-size: 2rem;}
.hamburger {display: }  
}
@media (max-width: 900px) 
{.topnav {display: none;}  
.topnav .LIR {font-size: 1rem; display}
}

@media (max-width: 700px) 
{.topnav {display: none;}  
.LIR {font-size: 1rem; :}
}  
@media (min-width: 900px) 
{.topnav {display: ;}
.hamburger {display:none ;}
.LIR {font-size: 1rem;}
}



